useDynLib(clustur, .registration=TRUE)
importFrom(Rcpp, evalCpp)
importFrom("utils", "read.table")
importFrom("Matrix", "spMatrix")
export(cluster)
export(opti_cluster)
export(example_path)
export(convert_distance_file_to_sparse)

